<div class="card rounded-4">
  <div class="card-body">
    <h5 class="card-title">{{ book.title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ book.authors }}</h6>
    <span class="d-flex">
      <h6 class="badge bg-light p-3 rounded-5 text-black m-auto">
        {{ book.status }}
      </h6>
      <div class="progress-bar m-auto">
        <progress
          value="75"
          min="0"
          max="100"
          style="visibility: hidden; height: 0; width: 0"
          class=""
        ></progress>
      </div>
    </span>
  </div>
</div>
