<article class="p-3 container gap-3 row m-auto">
  <h1 style="display: flex" class="p-0 m-auto">Reading Now</h1>
  <article class="p-0 container">
    <div class="gap-5">
      <div class="row mb-4">
        <app-book-card
          class="col-5 m-auto"
          *ngFor="let book of dataBooks | slice : 0 : 2"
          [book]="book"
        ></app-book-card>
      </div>
      <div class="row">
        <app-book-card
          class="col-5 m-auto"
          *ngFor="let book of dataBooks | slice : 0 : 2"
          [book]="book"
        ></app-book-card>
      </div>
    </div>
  </article>
</article>
