<main
  class="bg-warning-subtle p-5 vh-100 d-flex gap-0 row"
  style="height: 100px"
>
  <article class="m-auto bg-success w-75 h-25 rounded-4">
    <h1 class="text-center">Kerry Goldner</h1>
  </article>
  <article class="row gap-3 w-75 h-50 m-auto bg-warning rounded-4 p-5">
    <section class="h-50 col-5 rounded-4 bg-primary m-auto">
      <h1>Bookshelf</h1>
    </section>
    <section class="h-50 col-5 rounded-4 bg-primary m-auto">
      <h1>Reading Now</h1>
    </section>
    <section class="h-50 col-5 rounded-4 bg-primary m-auto">
      <h1>Purchase</h1>
    </section>
    <section class="h-50 col-5 rounded-4 bg-primary m-auto">
      <h1>Book Reviews</h1>
    </section>
  </article>
</main>
